.home, .testimonials
  h1
    margin-top: 2rem
    @media screen and (min-width: 768px)
      margin-top: 4rem

.home, .testimonials
  @media screen and (min-width: 768px)
    max-width: 1120px
    padding: 0 6rem
    margin: 0 auto

.c1
  margin-top: 11rem
  @media screen and (min-width: 768px)
    margin-top: 18rem
.c2
  margin-top: 5rem
  @media screen and (min-width: 768px)
    margin-top: 13rem
  &__buttonWrapper
    display: flex
    justify-content: space-between
    align-items: center

.p1video, .p2video
  position: relative
  width: 100%
  cursor: pointer

.zenscroll
  margin-bottom: 4.4rem
  @media screen and (min-width: 768px)
    margin-bottom: 5rem

.p2video
  margin-top: 6rem
  @media screen and (min-width: 768px)
    margin-bottom: 8rem
    display: flex
    margin: 13rem auto 0 auto
    width: 58rem

.video__subtitle
  display: flex
  justify-content: center
  align-items: center
  margin: 1.4rem 0 1rem 0
  cursor: pointer
  &-text
    font-size: 1.3rem
    text-align: center
    margin-right: 0.6rem
    @media screen and (min-width: 768px)
      font-size: 1.6rem
      margin-right: 1rem
  &-icon
    .volumeSVG
      width: 1.9rem
      @media screen and (min-width: 768px)
        width: 2.3rem
      & > *
        fill: $black



.video__subtitle2
  text-align: center
  font-size: 1.3rem
  margin: 1.4rem 0 1rem 0
  @media screen and (min-width: 768px)
    font-size: 1.6rem