.year
  background: $white
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.10)
  margin: 11rem 2rem 6rem 2rem
  border-radius: 4px
  @media screen and (min-width: 768px)
    max-width: 60rem
    margin: 15rem auto 0 auto
    box-shadow: none
  video, img
    width: 100%
  &__inner
    padding: 0 2rem 3rem 2rem
    @media screen and (min-width: 768px)
      padding: 0
  h1
    padding-top: 3rem
    @media screen and (min-width: 768px)
      padding-top: 3.6rem
  h2
    text-transform: uppercase
    margin-top: 3rem
    color: $black
    font-weight: bold
  p
    font-size: 1.7rem
    line-height: 1.7
    margin-top: 2.2rem
    @media screen and (min-width: 768px)
      font-size: 1.8rem
      margin-top: 2.4rem
  .bold
    font-weight: 600
  .ticks
    display: grid
    grid-template-columns: 1fr
    padding-bottom: 4rem
    @media screen and (min-width: 768px)
      grid-template-columns: 1fr 1fr
      margin-top: 2rem
    &__inner
      display: flex
      align-items: center
      margin-top: 1.6rem
      &:first-child
        margin-top: 3rem
        @media screen and (min-width: 768px)
          margin-top: 1.6rem
      &-text
        font-size: 1.5rem
        margin-left: .8rem
        @media screen and (min-width: 768px)
          font-size: 1.7rem
          margin-left: 1.6rem

.parents
  background: $white
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.10)
  margin: 6rem 2rem 0rem 2rem
  border-radius: 4px
  @media screen and (min-width: 768px)
    max-width: 80rem
    margin: 6rem 0 0 0
    box-shadow: none