.wideRight, .wideLeft
  & > *
    fill: $p
    transition: all 0.4s

.checkSVG
  width: 1.8rem
  transform: translateY(1px)
  & > *
    fill: $p

.twitterSVG
  height: 1.6rem
  & > *
    fill: $white

.undera__center-twitter
  .twitterSVG
    height: 2.1rem
    & > *
      fill: $p

.facebookSVG
  height: 1.7rem
  & > *
    fill: $white

.youtubeSVG
  height: 1.7rem
  & > *
    fill: $white

.header__center-icons
  .twitterSVG
    height: 1.9rem
    transform: translateY(4px)
    margin-left: 2.6rem
    & > *
      fill: $black

.header__center-icons
  .facebookSVG
    height: 2rem
    transform: translateY(4px)
    & > *
      fill: $black

.header__center-icons
  .youtubeSVG
    height: 1.8rem
    transform: translateY(4px)
    margin: 0 1rem
    & > *
      fill: $black
