extends main

include mixins/header
include mixins/button
include mixins/button1
include mixins/wide
include mixins/git
include mixins/monial
include mixins/blog
include mixins/footer
include mixins/mobilemenu

block content
  +mobilemenu()
  .home
    +header()
    .container.c1
      h2 Study skills to empower students
      h1 High-impact study skills seminars for students in Years 7 – 13
      +button("Get in touch")
    video(src="https://maximizeyp.s3.eu-west-2.amazonaws.com/home.mp4" class="p1video" playsinline="playsinline" autoplay="autoplay" muted="true" controls="true" preload="auto" poster="https://s3.amazonaws.com/harrydry/federerPoster.png" onclick="this.paused ? this.play() : this.pause();")
    .video__subtitle1 Click to unmute
    .container.c2
      h2 Programmes for Years 7 – 13
      h1 Improved outcomes in attainment, student confidence and resilience
      +wide()
    .container.c2
      .c2__buttonWrapper
        h2 Testimonials
        +button1("Read more", "testimonials")
      h1 Trusted by schools up and down the UK
      +monial("MaxImg1", '92% voted Maximize Excellent or Very Good. The best study skills provider you will see.', "Andy Green", "Copleston School")
      +monial("MaxImg2", 'The presenters were first-class and the feedback from our students has been outstanding.', "Sara Bentley", "The Snaith School")
    video(src="https://maximizeyp.s3.eu-west-2.amazonaws.com/home5.mp4" class="p2video" playsinline="playsinline" preload="auto" poster="https://maximizeyp.s3.eu-west-2.amazonaws.com/home99poster.jpg" onclick="this.paused ? this.play() : this.pause();")
    .video__subtitle Maximize in the Cardinal Vaughn School
    .container.grey
      .c2__buttonWrapper
        h2 Blog
        +button1("Read more", "/blog")
      h1 A collection of practical exam tips and tricks
      +blog("how-to-live-the-focused-life", "19blog1", "How to live the focused life", "The Year 10 programme customers to pay merchants directly from their bank accounts, which guarantees")
      +blog("how-to-nail-your-personal-statement", "19blog2", "How to nail your personal statement", "The Year 10 programme customers to pay merchants directly from their bank accounts, which guarantees")
    +git()
    +footer()
