extends main

include mixins/header
include mixins/button
include mixins/button1
include mixins/wide
include mixins/git
include mixins/monial
include mixins/blog
include mixins/footer
include mixins/mobilemenu

block content
  +mobilemenu()
  +header()
  .home
    .container.c1
      h2 Study skills to empower students
      h1 High-impact study skills seminars for students in Years 7 – 13
      .zenscroll
        .button Get in touch
          span.icons__buttonArrow!=icon("buttonArrow")
    video(src="https://maximizeyp.s3.eu-west-2.amazonaws.com/homeShorter.mp4" class="p1video" playsinline="playsinline" autoplay="autoplay" loop="loop" muted="true" controls="true" preload="metadata" poster="https://maximizeyp.s3.eu-west-2.amazonaws.com/homePoster.jpg")
    .video__subtitle
      .video__subtitle-text Tap for volume
      .video__subtitle-icon!=icon("volume")
    .container.c2
      h2 Programmes for Years 7 – 13
      h1 Improved outcomes in attainment, student confidence and resilience
      +wide()
    .container.c2
      .c2__buttonWrapper
        h2 Testimonials
        +button1("Read more", "testimonials")
      h1 Trusted by schools up and down the UK
      .monialGrid
        +monial("MaxImg1", '92% voted Maximize ‘Excellent’ or ‘Very Good’. The best study skills provider you will see.', "Andy Green", "Copleston School")
        +monial("MaxImg2", 'The presenters were first-class and the feedback from our students has been outstanding.', "Sara Bentley", "The Snaith School")
    //- video(src="https://maximizeyp.s3.eu-west-2.amazonaws.com/home6.mp4" class="p2video" playsinline="playsinline" preload="auto" poster="https://maximizeyp.s3.eu-west-2.amazonaws.com/home99poster.jpg" onclick="this.paused ? this.play() : this.pause();")
    //- .video__subtitle2 Maximize at Cardinal Vaughan Memorial School
    .container.c2
      .c2__buttonWrapper
        h2 Blog
        +button1("Read more", "/blog")
      h1 Advice from Maximize presenters, teachers and students
      .blogGrid
        +blog("how-to-live-the-focused-life", "19blog1", "How to live the focused life", "Practical advice from an undergraduate student to protect yourself from time-wasting distractions")
        +blog("how-to-nail-your-personal-statement", "19blog2", "How to nail your personal statement", "How to write an honest and original personal statement that really stand outs.  It’s a long game!")
    +git()
  +footer()
