extends main

include mixins/banner
include mixins/header
include mixins/button
include mixins/button1
include mixins/wide
include mixins/gitParents
include mixins/monial
include mixins/blog
include mixins/footer
include mixins/mobilemenu

block content
  +banner()
  +mobilemenu()
  +header()
  .home.parentsJS
    .container.c1
      //- h2 COVID-19 Support. 20% discount
      h1 All student presentations available live online. We also offer live webinars for parents.
      .zenscroll
        .button Enquire Now
          span.icons__buttonArrow!=icon("buttonArrow")
    //- video(src="https://maximizeyp.s3.eu-west-2.amazonaws.com/Schools/maxWebinars.mp4" class="p1video" playsinline="playsinline" preload="metadata" poster="https://maximizeyp.s3.eu-west-2.amazonaws.com/Schools/maxWebinarPoster.jpg" onclick="this.paused ? this.play() : this.pause();")
    video(src="https://maximizeyp.s3.eu-west-2.amazonaws.com/maxparents.mp4" class="p1video" playsinline="playsinline" preload="metadata" poster="https://maximizeyp.s3.eu-west-2.amazonaws.com/maxposter21.png" onclick="this.paused ? this.play() : this.pause();")
    //- .video__subtitle
    //-   .video__subtitle-text See how our webinars work
    .year.parents
      .year__inner
        h1 So, what's on offer?
        p In addition to our ‘live’ in schools sessions, we are delivering all our presentations to students online, whether they are at home or in school, via platforms such as Teams, Zoom or Google Meet.
        p The content of these presentations mirrors that of the highly-acclaimed workshop we deliver in school.
        p We are also offering live 60 minute presentations for parents via our own webinar platform, providing a great opportunity for parents to learn about the skills their child needs to succeed not only in education, but in life beyond the classroom, as well, and how they can play an active role in supporting them.
        //- p We can deliver all our presentations 'live' to your students via platforms such as Microsoft Teams or Zoom.
        //- p But, we have also developed a series of!{' '}
        //-   span.bold four 25-30 minute webinars
        //-   |!{' '}for key year groups, the content of which mirrors that of the highly-acclaimed workshops we deliver in schools.
        //- p In these uncertain times, we believe that they provide enormous flexibility as to how and when you engage with your students.
        h2 Topics covered
        .ticks
          .ticks__inner
            !=icon("check")
            .ticks__inner-text How to maintain motivation
          .ticks__inner
            !=icon("check")
            .ticks__inner-text Developing independent learning
          .ticks__inner
            !=icon("check")
            .ticks__inner-text Planning, prioritisation & organisation
          .ticks__inner
            !=icon("check")
            .ticks__inner-text Building resilience & coping with failure
          .ticks__inner
            !=icon("check")
            .ticks__inner-text Effective study & revision strategies
          .ticks__inner
            !=icon("check")
            .ticks__inner-text Dealing with stress & anxiety
        //- +button("Enquire Now", "/#git")
        .zenscroll.zenscrollParents
          .button Enquire Now
            span.icons__buttonArrow!=icon("buttonArrow")
    .container.c2
      .c2__buttonWrapper
        h2 Testimonials
        +button1("Read more", "testimonials")
      h1 What schools are saying about our webinars
      .monialGrid.parentGrid
        +monial("MaxImg7", 'If a teenager says they were worth getting up for, that is praise indeed!', "Howard Dymock", "St Helen's School")
        +monial("MaxImg1", "The best study skills provider I've seen in my teaching career", "Andy Green", "Copleston School")
    +gitParents()
  +footer()