extends main

include mixins/banner
include mixins/header
include mixins/button
include mixins/button1
include mixins/wide
include mixins/gitParents
include mixins/monial
include mixins/blog
include mixins/footer
include mixins/mobilemenu

block content
  +banner()
  +mobilemenu()
  +header()
  .home.parentsJS
    .container.c1
      h2 Study skills online
      //- h1 All our study skills seminars for Years 7-13 are available 'live' on-line or via a series of recorded webinars.
      h1 All presentations available 'live' on-line. Recorded webinars available for key year groups.
      .zenscroll
        .button Enquire Now
          span.icons__buttonArrow!=icon("buttonArrow")
    video(src="https://maximizeyp.s3.eu-west-2.amazonaws.com/Schools/maxWebinars.mp4" class="p1video" playsinline="playsinline" preload="metadata" poster="https://maximizeyp.s3.eu-west-2.amazonaws.com/Schools/maxWebinarPoster.jpg" onclick="this.paused ? this.play() : this.pause();")
    //- .video__subtitle
    //-   .video__subtitle-text See how our webinars work
    .year.parents
      .year__inner
        h1 So, what's on offer?
        p We can deliver all our presentations 'live' to your students via platforms such as Microsoft Teams or Zoom.
        p But, we have also developed a series of!{' '}
          span.bold four 25-30 minute webinars
          |!{' '}for key year groups, the content of which mirrors that of the highly-acclaimed workshops we deliver in schools.
        p In these uncertain times, we believe that they provide enormous flexibility as to how and when you engage with your students.
        h2 Key Features
        .ticks
          .ticks__inner
            !=icon("check")
            .ticks__inner-text Engage students at school or home
          .ticks__inner
            !=icon("check")
            .ticks__inner-text Encourage independent learning
          .ticks__inner
            !=icon("check")
            .ticks__inner-text Presenters of the highest calibre
          .ticks__inner
            !=icon("check")
            .ticks__inner-text Evidence-based study skills
          .ticks__inner
            !=icon("check")
            .ticks__inner-text E-notes to support sessions
          .ticks__inner
            !=icon("check")
            .ticks__inner-text E-safety compliant
        //- +button("Enquire Now", "/#git")
        .zenscroll.zenscrollParents
          .button Enquire Now
            span.icons__buttonArrow!=icon("buttonArrow")
    .container.c2
      .c2__buttonWrapper
        h2 Testimonials
        +button1("Read more", "testimonials")
      h1 What schools are saying about our webinars
      .monialGrid.parentGrid
        +monial("MaxImg7", 'If a teenager says they were worth getting up for, that is praise indeed!', "Howard Dymock", "St Helen's School")
        +monial("MaxImg1", "The best study skills provider I've seen in my teaching career", "Andy Green", "Copleston School")
    +gitParents()
  +footer()