mixin footer()
  .footer
    .footer__header YEARS GROUPS
    a.footer__subheader(href="/year7&8") Year 7 & 8
    a.footer__subheader(href="/year9") Year 9
    a.footer__subheader(href="/year10") Year 10
    a.footer__subheader(href="/year11") Year 11
    a.footer__subheader(href="/sixth-form") Sixth Forn
    .footer__header MORE
    a.footer__subheader(href="/year7&8") About
    a.footer__subheader(href="/year9") More
    a.footer__subheader(href="/year10") Testimonials
    .footer__header Contact
    a.footer__subheader(href="mailto:info@maximizeyourpotential.co.uk") info@maximizeyourpotential.co.uk
    .footer__subheader(href="mailto:info@maximizeyourpotential.co.uk") 01243 572773
    .footer__icons
      a.footer__icons-actual(href="https://twitter.com/maximizeyp" target="_blank")!=icon("twitter")
      a.footer__icons-actual(href="https://www.youtube.com/user/MaximizeGroup" target="_blank")!=icon("youtube")
      a.footer__icons-actual(href="https://www.facebook.com/MaximizeYP/" target="_blank")!=icon("facebook")
    .footer__copyright © Maximize 2019. All rights reserved.
