include button

mixin gitParents()
  .gitOuter.gitOuterParents#git
    .git
      h1 Enquire now to sign up your school
      .git__contact
        .git__contact-outer
          .git__contact-inner
            !=icon("mail")
            .git__contact-mail1 info@maximizeyourpotential.co.uk
          .git__contact-below.git__contact-below1 will reply in 24hrs
        .git__contact-outer
          .git__contact-inner
            !=icon("phone")
            .git__contact-mail1 01243 572773
          .git__contact-below 9-5pm mon-fri
      form(action="/subscribe" method="POST")
        .git__body
          .git__body-inner.git__body-inner-one
            input(type="text" name="firstName" placeholder="Name *" class="inputName")
          .git__body-inner.git__body-inner-two
            input(type="text" name="email" placeholder="Email *" class="inputEmail")
            input(type="text" name="company" placeholder="School *" class="inputSchool")
          .git__body-inner.git__body-inner-two
            textarea(name="enquiry" placeholder="How can we help? *" class="inputDesc")
        .git__submit
          a(href=`/subscribe` class=`eoSubmit`)
            .button Submit
              span.icons__buttonArrow!=icon("buttonArrow")
          .git__submit-red.gta__1