mixin header(activePage)
  .header
    .header__inner
      a.header__big(href="/")
        img(src="https://maximizeyp.s3.eu-west-2.amazonaws.com/wMaxLogo.png", alt="Maximize Your Potential Logo")
      .header__icons
      .header__menu!=icon("menuIcon")